* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c1c1c;
  color: #e4e4e4;
  text-align: center;
}

.cabeza {
  background-color: #e4e4e4;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  height: 40px;
}

.cabeza h1 {
  font-size: 17px;
  z-index: 999;
  margin: auto 0 auto 15px;
  color: #1c1c1c;
}

.cabeza .main-header {
  height: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.4rem;
  margin: auto;
}

.cabeza .main-header .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  margin-top: 35px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.cabeza .main-header .main-nav.show {
  margin-left: 0;
}

.cabeza .main-header .nav-links {
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cabeza .main-header .nav-links .link-item {
  margin-top: 32px;
  color: #1c1c1c;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.cabeza .main-header .nav-links .link-item::after {
  position: absolute;
  content: "";
  background-color: #1c1c1c;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  color: #e4e4e4;
}

.cabeza .main-header .nav-links .link-item:hover::after {
  width: 100%;
  color: #e4e4e4;
}

.cabeza .main-header .button-menu {
  width: 100%;
  margin: auto;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 100;
}

.cabeza .main-header .button-menu span {
  width: 30px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: black;
  border-radius: 3px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 100;
}

.cabeza .main-header .button-menu.close span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
  background: #000000;
}

.cabeza .main-header .button-menu.close span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
          transform: rotate(-45deg) translate(-8px, 5px);
}

.cabeza .main-header .button-menu.close span:nth-child(3) {
  display: none;
}

main {
  padding: 0px 5px;
}

main .inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 5px;
}

main .inicio .nombre h2 {
  margin: 20px 0;
  font-size: 2em;
}

main .inicio .nombre h3 {
  margin: 10px 0;
  font-size: 1.8em;
}

main .inicio img {
  width: 250px;
  border-radius: 70px 0;
}

main hr {
  width: 95%;
  margin: auto;
}

main .portafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .portafolio .sectionPortafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .portafolio .proyecto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 5px;
  padding: 15px;
  border: 1px solid rgba(126, 126, 126, 0.86);
  border-radius: 16px;
  background-color: #0000009b;
  max-width: 350px;
}

main .portafolio .proyecto img {
  width: 200px;
}

main .portafolio .proyecto .btn {
  margin: 15px auto 0px;
  width: 100px;
  height: 30px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

main .portafolio .proyecto .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .portafolio .proyecto .btn:hover::before {
  width: 100%;
}

main .portafolio .proyecto .btn:hover {
  color: black;
}

main .portafolio .proyecto .btn:active:before {
  background: #b9b9b9;
}

main details {
  cursor: pointer;
  border: 1px solid rgba(126, 126, 126, 0.86);
  border-radius: 16px;
  background-color: #0000009b;
  margin: 15px auto;
  width: 85%;
  font-size: 1.2em;
}

main details .challenge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main details .challenge .desafios {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main details .challenge .desafios a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: .8em;
}

main details .challenge .desafios img {
  width: 100px;
}
/*# sourceMappingURL=style.css.map */