@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//* Colores
$--colorPrimario: rgb(255, 255, 228);
$--colorSecundario: rgb(28, 28, 28);
$--colorTransparente: rgba(0, 0, 0, 0.61);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fadeTop {
    opacity: 0; 
    transform: translate(0, 15vh);
    transition: all 1s;
}
.fadeRight {
    opacity: 0;
    transform: translate(15vh, 0vh);
    transition: all 1s;
}

.fadeLeft {
    opacity: 0;
    transform: translate(-15vh, 0vh);
    transition: all 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}

body {
    background-color: $--colorSecundario;
    color: $--colorPrimario;
    text-align: center;
}

.cabeza {
    background-color: $--colorPrimario;
    padding: 5px;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    height: 40px;

    h1 {
        font-size: 17px;
        z-index: 999;
        margin: auto 0 auto 15px;
        color: $--colorSecundario;
    }

    //!menu hamburguesa
    .main-header {
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.4rem;
        margin: auto;

        .main-nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            margin-left: -100%;
            margin-top: 35px;
            transition: all 0.2s linear;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 99;
        }

        .main-nav.show {
            margin-left: 0;
        }

        .nav-links {
            background-color: $--colorPrimario;
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            align-items: center;
            justify-content: flex-start;

            .link-item {
                margin-top: 32px;
                color: $--colorSecundario;
                text-decoration: none;
                font-weight: bold;
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    background-color: $--colorSecundario;
                    bottom: 0px;
                    left: 0;
                    width: 0%;
                    height: 3px;
                    transition: 0.3s ease all;
                    color: $--colorPrimario;
                }

                &:hover::after {
                    width: 100%;
                    color: $--colorPrimario;
                }
            }
        }

        .button-menu {
            width: 100%;
            margin: auto;
            border: none;
            display: flex;
            flex-direction: column;
            background: none;
            align-items: flex-end;
            cursor: pointer;
            z-index: 100;

            span {
                width: 30px;
                height: 2px;
                margin-bottom: 3px;
                position: relative;
                background: rgb(0, 0, 0);
                border-radius: 3px;
                transform-origin: 4px 0px;
                transition: all 0.2s linear;
                z-index: 100;
            }
        }

        .button-menu.close span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, 0px);
            background: #000000;
        }

        .button-menu.close span:nth-child(2) {
            transform: rotate(-45deg) translate(-8px, 5px);
        }

        .button-menu.close span:nth-child(3) {
            display: none;
        }
    }

    //! fin menu hamburguesa
}

main {
    padding: 0px 5px;
    p{
        font-family: 'Source Code Pro', monospace;
        margin: 20px auto;
        color: white;
    }
    h4{
        font-family: 'Roboto Condensed', sans-serif;
        margin: 5px auto 0;
        color: white;
    }

    .wave{
        -webkit-box-reflect: below -5px
         linear-gradient(transparent, rgba(0,0,0,0.2));
        font-size: 22px;
        margin: 20px auto 13px;
        span{
            display: inline-block;
            animation: wave-anim 1s infinite;
            animation-delay: calc(0.1s * var(--item));
        }
        @keyframes wave-anim{
            0%, 
            40%, 
            100%{
                transform: translateY(0);
            }
            20%{
                transform: translateY(-7px);
            }
        }
    }

    .inicio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 15px 5px;

        .nombre {
            margin: auto;
            h2 {
                margin: 20px 0;
                font-size: 2em;
            }
        }
        img {
            width: 250px;
            border-radius: 70px 0;
        }       
    }

    hr {
        width: 95%;
        margin: auto;
    }

    .portafolio {
        display: flex;
        flex-direction: column;

        .sectionPortafolio {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }

        .proyecto {
            display: flex;
            flex-direction: column;
            margin: 10px 5px;
            padding: 15px;
            border: 1px solid rgba(126, 126, 126, 0.86);
            border-radius: 16px;
            background-color: $--colorTransparente;
            max-width: 350px;

            img {
                width: 200px;
            }

            .btn {
                margin: 15px auto 0px;
                width: 100px;
                height: 30px;
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 2px;
                font-weight: lighter;
                font-size: 1em;
                cursor: pointer;
                border: none;
                outline: none;
                background: transparent;
                color: white;
                font-weight: 700;
                position: relative;
                transition: all 0.5s;
                z-index: 1;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0px;
                    height: 100%;
                    background-color: white;
                    z-index: -1;
                    transition: all 0.5s;
                }
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    color: black;
                }
                &:active:before {
                    background: #b9b9b9;
                }
            }
        }

        details{
            cursor: pointer;
            border: 1px solid rgba(126, 126, 126, 0.86);
            border-radius: 16px;
            background-color: $--colorTransparente;
            margin: 15px auto;
            width: 85%;
            font-size: 1.2em;
            .challenge{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .desafios{
                    margin: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    padding: 3px;
                    &::after{
                        content: "";
                        inset: 4px;
                    }
                    &::before{
                        content: "";
                        width: 100px;
                        height: 140%;
                        background: linear-gradient(#00ccff, #d400d4);
                        animation: animate-desafios 10s linear infinite;
                        position: absolute;
                    }
                    @keyframes animate-desafios{
                        0%{
                            transform: rotate(0deg);
                        }
                        100%{
                            transform: rotate(360deg);
                        }
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        cursor: pointer;
                        font-size: .8em;
                        z-index: 99;
                        background-color: #000000;
                    }
                    img{
                        width: 100px;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}